name: Run glider metrics

on:
  issues:
    types: [ labeled ]

concurrency: 'main'
jobs:
  glider_metrics:
    if: github.event.label.name == 'run_metrics'
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v5.0.1

      - uses: stefanbuck/github-issue-parser@2ea9b35a8c584529ed00891a8f7e41dc46d0441e  # v3.2.1
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/query.yml

      - run: echo '${{ steps.issue-parser.outputs.jsonString }}' > glider_metrics.json
      - uses: prefix-dev/setup-pixi@v0.9.3
      - run: >
          cat glider_metrics.json
          && pixi run metrics

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        id: upload_csv
        with:
          name: upload_csv
          path: ${{ github.workspace }}/glider_metadata_metrics.csv
          
      - name: Close Issue
        run: >
          gh issue comment --body-file summary.md "${{ github.event.issue.number }}"
          && gh issue comment --body "[Click here to download the CSV file.](https://github.com/ocefpaf/glider_metrics/actions/runs/${{ github.run_id }}/artifacts/${{ steps.upload_csv.outputs.artifact-id }})" "${{ github.event.issue.number }}"
          && gh issue close "${{ github.event.issue.number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
